services:

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: api
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_NAME}
      JWT_SECRET_KEY: ${SK}
      JWT_ALGORITHM: ${ALG}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      JAVA_HOME: /usr/lib/jvm/java-21-openjdk-amd64
    volumes:
      - ./backend/app:/app
      - ./ml:/app/ml
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"

  airflow-init:
      build:
        context: .
        dockerfile: airflow/Dockerfile
      container_name: airflow-init
      depends_on:
        postgres:
          condition: service_healthy
      environment:
        AIRFLOW__CORE__EXECUTOR: LocalExecutor
        AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      volumes:
        - ./airflow/init_airflow.sh:/init_airflow.sh
      entrypoint: ["/bin/bash","/init_airflow.sh"]

  airflow:
      build: 
        context: .
        dockerfile: airflow/Dockerfile
      container_name: airflow
      restart: always
      environment:
        database: airflow
        user: airflow
        password: airflow
        host: postgres
        port: 5432
        AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      volumes:
        - ./airflow/dags:/opt/airflow/dags
        - ./airflow/logs:/opt/airflow/logs
        - ./airflow/plugins:/opt/airflow/plugins
        - ./requirements.txt:/requirements.txt  
        - ./airflow/data:/opt/airflow/data
        - ./airflow/utils:/opt/airflow/utils
        - ./airflow/jars/postgresql-42.7.3.jar:/opt/airflow/jars/postgresql-42.7.3.jar
      command: >
        bash -c "
          pip install --no-cache-dir -r /requirements.txt &&
          airflow scheduler &
          airflow webserver 
        "
      depends_on:
        airflow-init:
          condition: service_completed_successfully
        postgres:
          condition: service_healthy
      ports:
        - "8080:8080"

volumes:
  postgres-db: